spring:
  data:
    redis:
      repositories:
        enabled: false
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: create
    properties:
      default_batch_fetch_size: 100
      hibernate:
        show_sql: true
        format_sql: true
        time_zone: Asia/Seoul
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  jackson:
    mapper:
      accept-case-insensitive-enums: true
  redis:
    host: 127.0.0.1
    port: 6379

logging:
  level:
    org:
      hibernate:
        type: trace
